<h1>Welcome to Hike Tracker</h1>
<h3>Today is:</h3>
<h3>{{today | date: 'fullDate'}}</h3>
<hr class="my-4">
<div *ngIf="!selected">
  <table class="table table-hover table-dark" >
    <thead>
      <tr>
        <th>Date</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hike of hikes" (click)="displayHike(hike)">
        <td>{{hike.date | date:'longDate'}}</td>
        <td>{{hike.location}}</td>
      </tr>
    </tbody>
  </table>
  <hr class="my-4">
  <h4>Total Number of Hikes: {{totalNumberOfHikes()}}</h4>
  <h4>Total Number of Miles: {{totalNumberOfMiles() | number:'1.1-1'}} </h4>
  Equivalent of completing {{distanceComparison() | number:'1.1-2'}}% of the Continental Divide Trail (3,100 miles)
  <div class="progress">
    <div class="progress-bar" role="progressbar"  aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">{{distanceComparison()| number:'1.1-2'}}%</div>
  </div>
  <h4>Average Pace: {{averagePace() | number:'1.1-1'}}</h4>
  <hr class="my-4">
<form>
 Date: <input type="date" name="date" [(ngModel)]="newHike.date"> <br>
 Location: <input type="text" name="location" [(ngModel)]="newHike.location"> <br>
 Distance:<input type="number" name="distance" [(ngModel)]="newHike.distance"><br>
 Time: <input type="time" name="time" [(ngModel)]="newHike.time" > <br>
 Pace: <input type="number" name="pace" [(ngModel)]="newHike.pace"><br>
 Description: <input type="text" name="description" [(ngModel)]="newHike.description"><br>
  <button (click)="addHike()" class="btn btn-success">ADD HIKE</button>
</form>
</div>


<div *ngIf="selected && !editHike">
  <p>ID: {{selected.id}}</p>
  <p>Date: {{selected.date | date:'longDate'}}</p>
  <p>Location: {{selected.location}}</p>
  <p>Time: {{selected.time}}</p>
  <p>Distance: {{selected.distance}}</p>
  <p>Pace: {{selected.pace}}</p>
  <p>Description: {{selected.description}}</p>
  <button (click)="displayTable()" class="btn btn-secondary">Back</button>
  <button (click)="setEditHike()" class="btn btn-info">Edit</button>
  <button (click)="deleteHike(selected.id)" class="btn btn-danger">Delete</button>
</div>

<form *ngIf="editHike">
  Date: <input type="date" name="date" [(ngModel)]="editHike.date"> <br>
  Location: <input type="text" name="location" [(ngModel)]="editHike.location"> <br>
  Distance:<input type="number" name="distance" [(ngModel)]="editHike.distance"><br>
  Time:<input type="time" name="time" [(ngModel)]="editHike.time"><br>
  Pace: <input type="number" name="pace" [(ngModel)]="editHike.pace"><br>
  Description: <input type="text" name="description" [(ngModel)]="editHike.description"><br>
  <button (click)="editHike = null" class="btn btn-danger">Cancel</button>
  <button (click)="updateHike(editHike)" class="btn btn-success">Save HIKE</button>
</form>
